<p>Multi-progress bar:</p>

<div class="meter">
  <div fxLayout="row" fxLayoutGap="5px" style="width: 100%">
    <div [fxFlex]="x11" class="div1">
      <div class="centered-content">{{ x11 }}%</div>
    </div>
    <div [fxFlex]="x22" class="div2">
      <div class="centered-content">{{ x22 }}%</div>
    </div>
    <div [fxFlex]="x33" class="div3">
      <div class="centered-content">{{ x33 }}%</div>
    </div>
    <div [fxFlex]="x44" class="div4">
      <div class="centered-content">{{ x44 }}%</div>
    </div>
    <div [fxFlex]="x55" class="div5">
      <div class="centered-content">{{ x55 }}%</div>
    </div>
  </div>
</div>
